*{
    margin: 0%;
}
body {
    background-color: lightgrey;
    
}
h1{
    text-align: center;
}

#port{
    width: auto;
    min-height: 120px;
    max-height: auto;
    /* float: center; */
    /* margin: 3px;
    padding: 3px; */
    border: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightslategray;
    color: white;
    text-align: center;